<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
  </head>
  <body>
    <%- include('layout') %>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
    <h4>PPPP</h4>
  </body>
</html>
